form {
    margin: .5rem;
}

h3 {
    padding: 1vw;
    padding-bottom: 0vw;
}
h6{
    font-size:40px;
}
.pad {
    padding: .5rem;
}

.margin {
    margin: .5rem;
}

nav {
    width: 100vw;
}

.page-container {
    position: relative;
    min-height: 100vh;
}

.content-wrap {
    position:relative;
    padding-bottom: 2.5rem;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;  
}

.footer-div {
    padding: 1rem;
}

.searchbar {
    padding: 1rem;
    padding-right: 40rem;
}

.search-button {
    color: white;
    
}

.card {
    float: left;
    min-width: 5rem;
    width: 20vw;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: .5rem;
}

.card-scroll {
    height: 20rem;
    overflow-y: auto;
}

.card-img {
    border-radius: .5rem;
}

.card-title {
    padding: .5rem;
    padding-bottom: 0;
    padding-left: 0;
    font-size: 15px;
}

.card-subtitle {
    font-size: 10px;
}

.home-articles {
    padding-left: 1vw;
}

.home-widgets {
    padding-right: 1vw;
}

.login {
    margin: 1rem;
}

.login-form {
    padding-left: 1rem;
    padding-right: 65rem;
}

.create_account {
    padding-left: 1rem;
    padding-right: 65rem;
}

.sign-up-success {
    padding: 1rem;
}

.logout {
    margin: 1rem;
}